#door-sounds-settings-submenu .door-sounds-navigation{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#door-sounds-settings-submenu .door-sounds-tab {
  position: relative;
  display: inline;
  background-color: #36363625;
  border-radius: 10px 10px 0% 0%;
  padding: 10px 15px;
}
#door-sounds-settings-submenu .door-sounds-tab:hover,
#door-sounds-settings-submenu .door-sounds-tab.active {
  background-color: transparent;
  text-shadow: none;
  box-shadow: -1px -1px 0px 0px grey;
}


#door-sounds-settings-submenu .door-sounds-tab-delete {
  display: inline-flex;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: transparent;
  border-radius: 50%;
  width: 15px;
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
}

#door-sounds-settings-submenu .door-sounds-tab-delete:hover {
  color:red;
  background-color: blanchedalmond;
}