<header>
</header>

<form>
  <fieldset>
    <legend>{{localize "DOORSOUNDS.importJSON"}}</legend>
      <div class="form-group">
        <label>{{localize "DOORSOUNDS.importFile"}}:</label>
        <div class="form-fields">
          <button class="door-sounds-import">{{localize "DOORSOUNDS.import"}}</button>
        </div>
      </div>
  </fieldset>
  <fieldset>
    <legend>{{localize "DOORSOUNDS.exportJSON"}}</legend>
      <div class="form-group">
        <label>{{localize "DOORSOUNDS.exportFile"}}:</label>
        <div class="form-fields">
          <button class="door-sounds-export">{{localize "DOORSOUNDS.export"}}</button>
        </div>
      </div>
  </fieldset>
  <button name="done">{{localize "DOORSOUNDS.done"}}</button>
</form>