<form class="flexcol">
  <header>
  </header>
  
  <!-- tabs here-->
  <nav class="door-sounds-navigation tabs" data-group="main">
    <a class="door-sounds-tab active" data-tab="new">{{ localize "DOORSOUNDS.new" }}</a>
    {{#each collection}}
      <a class="door-sounds-tab" data-tab="{{key}}">{{label}}<div class="door-sounds-tab-delete"><i class="fa-solid fa-xmark"></i></div></a>
    {{/each}}
  </nav>

  <!-- main body here -->
  <div class="document-tabs">
    <div class="tab active" data-group="main" data-tab="new">
      <div class="form-group">
        <label>{{localize "DOORSOUNDS.label"}}:</label>
        <div class="form-fields">
          <input class="door-sounds-label" type="text" name="label" placeholder="Name of soundset goes here...">
        </div>
      </div>
      <div class="form-group">
        <label>{{localize "DOORSOUNDS.open"}}:</label>
        <div class="form-fields">
          <button class="door-sounds-open picker"><i class="fas fa-file-import fa-fw"></i></button>
          <input class="door-sounds-open" type="text" name="open">
        </div>
      </div>
      <div class="form-group">
        <label>{{localize "DOORSOUNDS.close"}}:</label>
        <div class="form-fields">
          <button class="door-sounds-close picker"><i class="fas fa-file-import fa-fw"></i></button>
          <input class="door-sounds-close" type="text" name="close">
        </div>
      </div>
      <div class="form-group">
        <label>{{localize "DOORSOUNDS.test"}}:</label>
        <div class="form-fields">
          <button class="door-sounds-test picker"><i class="fas fa-file-import fa-fw"></i></button>
          <input class="door-sounds-test" type="text" name="test">
        </div>
      </div>
      <div class="form-group">
        <label>{{localize "DOORSOUNDS.lock"}}:</label>
        <div class="form-fields">
          <button class="door-sounds-lock picker"><i class="fas fa-file-import fa-fw"></i></button>
          <input class="door-sounds-lock" type="text" name="lock">
        </div>
      </div>
      <div class="form-group">
        <label>{{localize "DOORSOUNDS.unlock"}}:</label>
        <div class="form-fields">
          <button class="door-sounds-unlock picker"><i class="fas fa-file-import fa-fw"></i></button>
          <input class="door-sounds-unlock" type="text" name="unlock">
        </div>
      </div>
      <button name="save" data-key="new">{{localize "DOORSOUNDS.save"}}</button>
    </div>
    <!-- for each loop with handle bars here for the other tabs.-->
    {{#each collection}}
      <div class="tab" data-group="main" data-tab="{{key}}">
        <div class="form-group">
          <label>{{localize "DOORSOUNDS.label"}}:</label>
          <div class="form-fields">
            <input class="door-sounds-label" type="text" name="label-{{key}}" value="{{label}}">
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "DOORSOUNDS.open"}}:</label>
          <div class="form-fields">
            <button class="door-sounds-open picker"><i class="fas fa-file-import fa-fw"></i></button>
            <input class="door-sounds-open" type="text" name="open-{{key}}" value="{{open}}">
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "DOORSOUNDS.close"}}:</label>
          <div class="form-fields">
            <button class="door-sounds-close picker"><i class="fas fa-file-import fa-fw"></i></button>
            <input class="door-sounds-close" type="text" name="close-{{key}}" value="{{close}}">
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "DOORSOUNDS.test"}}:</label>
          <div class="form-fields">
            <button class="door-sounds-test picker"><i class="fas fa-file-import fa-fw"></i></button>
            <input class="door-sounds-test" type="text" name="test-{{key}}" value="{{test}}">
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "DOORSOUNDS.lock"}}:</label>
          <div class="form-fields">
            <button class="door-sounds-lock picker"><i class="fas fa-file-import fa-fw"></i></button>
            <input class="door-sounds-lock" type="text" name="lock-{{key}}" value="{{lock}}">
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "DOORSOUNDS.unlock"}}:</label>
          <div class="form-fields">
            <button class="door-sounds-unlock picker"><i class="fas fa-file-import fa-fw"></i></button>
            <input class="door-sounds-unlock" type="text" name="unlock-{{key}}" value="{{unlock}}">
          </div>
        </div>
        <button name="save" data-key="{{key}}">{{localize "DOORSOUNDS.save"}}</button>
      </div>
    {{/each}}
  </div>
  <hr>
  <div class="door-sounds-buttons">
    <button name="done">{{localize "DOORSOUNDS.done"}}</button>
  </div>
</form>